<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="{{url_for('static',filename='static/index.css')}}">
    <title>main</title>

</head>
<body>
  <div class="menu"> <!-- MENU-->
    <h2>Qual serviço deseja adicionar ?</h2>
        <a href="/HTML/manutencao.html"> <button>Manutenção</button></a> 
        <a href="/HTML/instalacao.html"> <button>Instalação</button></a> 
        <a href="/HTML/remocao.html"> <button>Remoção</button> </a> 

        <p>clique aqui para adic</p>
  </div>
</body>
</html>