<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href ="static/index.css">
    <title>main</title>

</head>
<body>
<form action="/index" method="GET"></form>
  <div class="menu"> <!-- MENU-->
    <h2>Qual serviço deseja adicionar ?</h2>
        <a href="/manutenção"> <button>Manutenção</button></a> 
        <a href="/instalação"> <button>Instalação</button></a> 
        <a href="/remoção"> <button>Remoção</button> </a>
        <a href="/api/dados/remoção"> <button>SHOW REMOÇÕES</button> </a>
        <a href="/api/dados/instalação"> <button>SHOW INSTALAÇÕES</button> </a>
        <a href="/api/dados/manutenção"> <button>SHOW MANUTENÇÕES</button> </a>
        <p>clique aqui para adic</p>
  </div>
</body>
</html>