<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/service.css">

    <title>Instalação</title>
</head>
<body>
    <h1>Adicionar Instalação</h1>
    <form action="sucesso.html" method="POST">
        <label for="nome">Placa:</label>
        <input type="text" id="placa" name="placa" ><br>

        <label for="chassi">Chassi:</label>
        <input type="text" id="chassi" name="chassi" ><br>

        <label for="Equipamento">Equipamento: </label>
        <select id="equip" name="equipamento">
            <option value="GV-50">GV-50</option>
            <option value="GV-75">GV-75</option>
            <option value="Teltonika">Teltonika</option>
            <option value="Mhub">Mhub</option>
        </select><br>

        <label for="cliente">Cliente:</label>
        <input type="text" id="cliente" name="cliente" ><br>

        <label for="telefone">Modelo:</label>
        <input type="text" id="modelo" name="modelo"><br>
        <input type="submit" value="Enviar">

        <p>ou adicione em massa via Excel</p>

        <label for="arquivo">Selecione um arquivo:</label>
        <input type="file" id="arquivo" name="arquivo" accept=".xlsx"><br>
        <input type="submit" value="Enviar Arquivo">
    </form>
</body>
</html>