<!DOCTYPE html>
<html>
<head>
    <title>Formulário de Dados</title>
</head>
<body>
    <form action="/index/extração" method="POST","GET" enctype="multipart/form-data">
        <label for="arquivo">Selecione um arquivo Excel:</label>
        <input type="file" id="arquivo" name="arquivo" accept=".xlsx"><br>
        <label for="valor3">DIGITE UM NOME PARA O ARQUIVO JSON SER CRIADA: </label><br>
        <input type="text" id="valor3" name="valor3"><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
